.main-container{
  display: flex;
  justify-content: space-around;
}
.cart-container{
  width: 350px;
  box-shadow: 4px 4px 8px gray;
}

.card{
  width: 300px;
  text-align: center;
  justify-items: center;
  border: 1px solid gray;
  margin-bottom: 8px;
  padding: 8px;
}
.img-card{
  width: 100px;
  align-items: center;
}

.card-footer{
  display: flex;
  
}


.add-btn{
  border: 1px solid;
  padding: 2px;
  margin-left: 4px;
  background: lightgray;
}
.cart-title{
  display: flex;
  justify-content: space-around;
}
.cart-info{
  display: flex;
  justify-content: space-around;
}